$primary-color: #263238;
$primary-color-light: #4f5b62;
$primary-color-dark: #000a12;

$secondary-color: #0277bd;
$secondary-color-light: #58a5f0;
$secondary-color-dark: #004c8c;

$background-color: #f5f5f5;

.primary-color{
  background-color: $primary-color !important;
  color: white !important;
}

.primary-color-light {
  background-color: $primary-color-light !important;
  color: white !important;
}

.primary-color-dark {
  background-color: $primary-color-dark !important;
  color: white !important;
}

.primary-color-text {
  color: $primary-color !important;
}

.primary-color-light-text {
  color: $primary-color-light !important;
}

.primary-color-dark-text {
  color: $primary-color-dark !important;
}

.secondary-color{
  background-color: $secondary-color !important;
  color: white !important;
}

.secondary-color-light {
  background-color: $secondary-color-light !important;
  color: black !important;
}

.secondary-color-dark {
  background-color: $secondary-color-dark !important;
  color: white;
}

.secondary-color-text {
  color: $secondary-color !important;
}

.secondary-color-light-text {
  color: $secondary-color-light !important;
}

.secondary-color-dark-text {
  color: $secondary-color-dark !important;
}
