.form-panel{
  position: absolute;
  margin-top: 0px !important;
  width: 25%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-copyright .container a{
  margin: 0 8px;
  background-color: inherit !important;
}

.tabs .indicator {
  height: 3px !important;
  background-color: $secondary-color-light !important;
}

.no-padding{
  padding: 0px !important;
}

.big-title{
  font-size: 225px;
}

.gameImage{
  height: 64px;
}

.leftText{
  margin-left: 16px;
}

// .graph-panel{
//   position: absolute;
//   margin-top: 0px !important;
//   width: 25%;
//   min-width: 1200px;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.max-height{
  height: 100%;
}

.recharts-wrapper{
  margin: 0 auto !important;
}
