.input-field label {
  color: $primary-color !important;
}

.input-field input:focus + label {
  color: $primary-color !important;
}

.input-field input:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.input-field .prefix.active {
  color: $primary-color !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.chips.chips-autocomplete {
  &.focus {
    border-bottom-color: $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important;
  }
  margin-bottom: 0;
}

.chip.selected {
  @extend .secondary-color;
}
