@import 'helpers';
@import 'input-colors';
@import 'select-colors';

body {
  background-color: $background-color;
  overflow-x: hidden !important;
}

div#root, figure, main {
  overflow-x: hidden !important;
}
