.primary-color {
  background-color: #263238 !important;
  color: white !important; }

.primary-color-light {
  background-color: #4f5b62 !important;
  color: white !important; }

.primary-color-dark {
  background-color: #000a12 !important;
  color: white !important; }

.primary-color-text {
  color: #263238 !important; }

.primary-color-light-text {
  color: #4f5b62 !important; }

.primary-color-dark-text {
  color: #000a12 !important; }

.secondary-color, .chip.selected {
  background-color: #0277bd !important;
  color: white !important; }

.secondary-color-light {
  background-color: #58a5f0 !important;
  color: black !important; }

.secondary-color-dark {
  background-color: #004c8c !important;
  color: white; }

.secondary-color-text {
  color: #0277bd !important; }

.secondary-color-light-text {
  color: #58a5f0 !important; }

.secondary-color-dark-text {
  color: #004c8c !important; }

html, body, div#root {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5; }

div#root > div {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column; }

header {
  width: 100%;
  display: block; }

main {
  min-height: calc(100% - 110px);
  height: auto;
  display: block; }

footer {
  width: 100%; }

.form-panel {
  position: absolute;
  margin-top: 0px !important;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.footer-copyright .container a {
  margin: 0 8px;
  background-color: inherit !important; }

.tabs .indicator {
  height: 3px !important;
  background-color: #58a5f0 !important; }

.no-padding {
  padding: 0px !important; }

@media only screen and (max-width: 375px) {
  .big-title {
    font-size: 150px; } }

@media only screen and (min-width: 376px) {
  .big-title {
    font-size: 225px; } }

.gameImage {
  height: 64px; }

.leftText {
  margin-left: 16px; }

.max-height {
  height: 100%; }

.recharts-wrapper {
  margin: 0 auto !important; }
  .recharts-wrapper li.clickable {
    cursor: pointer; }

ul.autocomplete-content {
  position: absolute !important;
  min-width: 278px;
  margin-top: 0; }

.parallax-container {
  display: flex;
  height: 375px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); }
  .parallax-container h2 {
    align-self: flex-end;
    margin: 25px auto; }

.brand-logo img {
  margin-right: 8px;
  width: 45px;
  vertical-align: middle; }

.vertical-center {
  margin-top: 32px;
  vertical-align: middle; }

.input-field label {
  color: #263238 !important; }

.input-field input:focus + label {
  color: #263238 !important; }

.input-field input:focus {
  border-bottom: 1px solid #263238 !important;
  box-shadow: 0 1px 0 0 #263238 !important; }

.input-field .prefix.active {
  color: #263238 !important; }

.input-field textarea:focus {
  border-bottom: 1px solid #263238 !important;
  box-shadow: 0 1px 0 0 #263238 !important; }

.chips.chips-autocomplete {
  margin-bottom: 0; }
  .chips.chips-autocomplete.focus {
    border-bottom-color: #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important; }

.dropdown-content li > span {
  color: #263238 !important; }

.select-dropdown {
  height: 290px; }

.spinner-blue, .spinner-blue-only {
  border-color: #0277bd !important; }

.loading-space {
  position: relative;
  width: 100%;
  height: 100%; }

.center-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

figure.back_image {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.back_image figcaption {
  position: absolute;
  top: 0;
  margin-bottom: -2px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%; }

figure.back_image > img {
  width: 100%;
  height: 100%;
  min-height: 560px;
  filter: blur(3px);
  object-fit: cover;
  overflow: hidden;
  transform: scale(1.03); }
